*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
proguard/
*.log
.navigation/
captures/
*.iml
.idea/tasks.xml
idea/dictionaries
*.jks
.externalNativeBuild
google-services.json
freeline.py
freeline/
freeline_project_description.json
/.idea/
/gradlew
/gradlew.bat
