<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jeseromero.yourvocabulary">

	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET" />

	<application
		android:name="com.activeandroid.app.Application"
		android:allowBackup="true"
		android:icon="@drawable/yourvocabularylogotipo"
		android:label="@string/app_name"
		android:roundIcon="@drawable/yourvocabularylogotipo"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<meta-data
			android:name="AA_DB_NAME"
			android:value="yourlanguage.db"/>
		<meta-data
			android:name="AA_DB_VERSION"
			android:value="0"/>
		<meta-data
            android:name="io.fabric.ApiKey"
            android:value="44894a6a9b6a6c8768eaef1ed742bc9c8e782011" />

		<activity
			android:name=".activity.intent.ReceiveTextActivity"
			android:label="@string/title_activity_text_receiver"
			android:theme="@style/AppTheme.NoActionBar">
			<intent-filter>
				<action android:name="android.intent.action.SEND"/>

				<category android:name="android.intent.category.DEFAULT"/>

				<data android:mimeType="text/plain"/>
			</intent-filter>
		</activity>

		<activity
			android:name=".activity.word.manage.ManageWordActivity"
			android:label="@string/title_activity_edit_activity"
			android:theme="@style/AppTheme.NoActionBar"/>

		<activity
			android:name=".activity.vocabulary.VocabularyActivity"
			android:label="@string/title_activity_vocabulary"
			android:theme="@style/AppTheme.NoActionBar"/>

		<activity
			android:name=".activity.language.ManageLanguageActivity"
			android:label="New language"
			android:theme="@style/AppTheme.NoActionBar"/>

		<activity android:name=".activity.home.HomeActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity android:name=".activity.language.LanguageActivity"/>

		<activity
			android:name=".activity.language.LanguageDetailActivity"
			android:theme="@style/AppTheme.NoActionBar">
		</activity>

		<activity android:name=".activity.play.ChooseLanguageActivity"/>

		<activity
			android:name=".activity.play.ChooseWordPlayActivity"
			android:noHistory="true">
		</activity>

		<activity
			android:name=".activity.play.LanguageStatisticActivity"
			android:noHistory="true"
			android:theme="@style/AppTheme.NoActionBar">
		</activity>

		<activity android:name=".activity.play.WriteWordPlayActivity"/>

		<activity android:name=".activity.share.MainShareActivity"/>

		<activity
			android:name=".activity.intent.ReceiveFileActivity"
			android:label="Import data"
			android:theme="@style/AppTheme.NoActionBar">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="text/plain"/>
			</intent-filter>
		</activity>

	</application>

</manifest>